@font-face {
  font-display: swap;
  font-family: 'Muller Regular';
  font-style: normal;
  font-weight: 400;
  src:
    local('Muller Regular'), local('Muller-Regular'),
    url('../fonts/MullerRegular.woff2'),
    url('../fonts/MullerRegular.woff');
}

@font-face {
  font-display: swap;
  font-family: 'Muller Medium';
  font-style: normal;
  font-weight: 500;
  src:
    local('Muller Medium'), local('Muller-Medium'),
    url('../fonts/MullerMedium.woff2'),
    url('../fonts/MullerMedium.woff');
}

@font-face {
  font-display: swap;
  font-family: 'Muller Bold';
  font-style: normal;
  font-weight: 700;
  src:
    local('Muller Bold'), local('Muller-Bold'),
    url('../fonts/MullerBold.woff2'),
    url('../fonts/MullerBold.woff');
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Muller Regular', sans-serif;
  background-color: #f1f1f1;
}

.btn {
  padding: 13px 20px;
  border: 1px solid #cc9933;
  border-radius: 10px;
  background-color: #fff;
  color: #cc9933;
  cursor: pointer;
}

.title {
  margin: 0;
  margin-bottom: 20px;
  padding-left: 40px;
  font-size: 40px;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* ================= header ================== */

.header-top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header-top__logo {
  margin-right: 40px;
  padding: 30px 0;
}

.header-top__phone {
  font-family: 'Muller Medium', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #666;
}

.header-top__account {
  margin-left: auto;
}

.header-top__account span {
  margin-left: 5px;
  color: #cc9933;
}

.header-nav {
  display: flex;
  align-items: center;
  padding: 0 40px;
  background-color: #fff;
  border-radius: 15px;
}

.header-nav__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header-nav__item {
  padding: 27px 0;
  margin-right: 45px;
}

.header-nav__link {
  color: #666;
}

.header-nav__item:last-child {
  margin: 0;
}

.header-nav__tour {
  margin-left: auto;
  margin-right: 40px;
}

/* ================= special-offers ================== */

.special-offers {
  margin: 70px 0;
}

.special-offers__list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.special-offers__left,
.special-offers__right {
  max-width: 573px;
  display: flex;
  flex: 1;
}

.special-offers__left {
  flex-direction: column;
  gap: 24px;
}

.special-offers__img {
  min-height: 100%;
  padding: 40px 45px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 15px;
}

.special-offers__maldivs {
  background: 
    linear-gradient(90deg,rgba(48, 64, 89, .8) 0, rgba(53, 65, 83, 0) 67%),
    url('../images/specials/Maldiskie.jpg') center center no-repeat;
    background-size: cover;
}

.special-offers__nomers {
  padding: 212px 229px 40px 45px;
  background-image: url('../images/specials/deluxe-rooms.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.special-offers__krit {
  background: 
    linear-gradient(90deg,rgba(48, 64, 89, .8) 0, rgba(53, 65, 83, 0) 67%),
    url('../images/specials/krit.jpg') center center no-repeat;
    background-size: cover;
}

.special-offers__subtitle {
  max-width: 420px;
  margin: 0;
  font-family: 'Muller Bold', sans-serif;
  font-size: 40px;
  color: #fff;
}

.right-card__subtitle {
  font-size: 60px;
}

.special-offers__price {
  margin-bottom: 45px;
  font-size: 20px;
  color: #fff;
}

.special-offers__details {
  display: flex;
  align-items: center;
  color: #F0BF5F;
}

.special-offers__link span {
  display: inline-block;
  margin-right: 5px;
}

/* ================= services ================== */

.services {
  margin: 70px 0;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.services__item {
  max-width: 50%;
  flex: 1 1 573px; 
}

/* ================= benefits ================== */

.benefits {
  margin-bottom: 70px;
}

.benefits__list {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
}

.benefits__item {
  max-width: 276px;
  flex: 1 1 auto;
}

/* ================= placement ================== */

.placement {
  margin-bottom: 70px;
}

.placement__items {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.placement__item {
  max-width: 33.33%;
  flex: 1 1 374px;
}