html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #f1f1f1;
}

.btn {
  padding: 13px 20px;
  border: 1px solid #cc9933;
  border-radius: 10px;
  background-color: #fff;
  color: #cc9933;
  cursor: pointer;
}

.title {
  margin: 0;
  margin-bottom: 20px;
  padding-left: 40px;
  font-size: 40px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* ================= header ================== */

.header-top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header-top__logo {
  margin-right: 40px;
  padding: 30px 0;
}

.header-top__phone {
  font-size: 20px;
  font-weight: 500;
  color: #666;
}

.header-top__account {
  margin-left: auto;
}

.header-top__account span {
  margin-left: 5px;
  color: #cc9933;
}

.header-nav {
  display: flex;
  align-items: center;
  padding: 0 40px;
  background-color: #fff;
  border-radius: 15px;
}

.header-nav__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header-nav__item {
  padding: 27px 0;
  margin-right: 45px;
}

.header-nav__link {
  color: #666;
}

.header-nav__item:last-child {
  margin: 0;
}

.header-nav__tour {
  margin-left: auto;
  margin-right: 40px;
}

/* ================= special-offers ================== */

.special-offers {
  margin: 70px 0;
}

.special-offers__list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.special-offers__card {
  max-width: 50%;
  flex: 1 1 573px;
}

/* ================= services ================== */

.services {
  margin: 70px 0;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.services__item {
  max-width: 50%;
  flex: 1 1 573px; 
}